<div>
    <h1 className = "text-center"> Teams List</h1>
    <table className = "table table-striped">
        <thead>
            <th>Name</th>
            <th>Apache Id</th>
            <th>Email</th>
            <th> Organization</th>
            <th> Roles</th>
            <th> Time_zone</th>
        </thead>
        <tbody>
            <tr *ngFor="let team of teams">
                <td> {{team.name}}</td> 
                <td> {{team.apache_id}}</td>   
                <td> {{team.email}}</td>   
                <td> {{team.organization}}</td>   
                <td> {{team.roles}}</td>
                <td> {{team.time_zone}}</td> 
            </tr>
        </tbody>
    </table>
</div>

